@charset 'UTF-8';

:root {
    --bg: #18191A;
    --bg-conteudo: #121213;
    --hover: #282828;
    --letras: #E7E7E7;
    --letras-menores: #888787;
    --online: #3ccce2;
}

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

/* Plado de Fundo */
body {
    background-color: darkgray;
}

/* Fundo principal do perfil */
div#principal {
     background-color: lightgrey; 
     /* background-color: var(--bg);  */
    min-width: 300px;
    max-width: 950px;
    padding: 25px 10px 20px 10px;
    margin: auto;

    display: grid;
    grid-template-columns: auto auto;
    /* gap: 20px;  */
}

/* Configurações do Header */
header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    flex-flow: row wrap;

    grid-column: 1 / 3;
}

header > div#informacoes {
    width: 400px;
    margin-right: 230px;

    display: flex;
    justify-content: space-between;
}

header > div#informacoes > div.img > img {
    width: 165px;
}

header > div#informacoes > div.usuario > p.icone {
    font-size: 1.5em;
}

header > div#informacoes > div.usuario > p.icone:after {
  content: '\25BE';
}

header > div#informacoes > div.usuario > p#bandeira {
    font-size: 0.8em;
    text-indent: 7px;
}

header > div#informacoes > div.usuario > p#bandeira:before {
    content: url(Imagens/flag.png);
    zoom: .6;
}

header > div#informacoes > div > p.texto-descrição {
    padding-top: 20px;
}

header > div#nivel-insignia > div.nivel {
    width: 290px;
    margin-bottom: 15px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

header > div#nivel-insignia > div.nivel > p {
    font-size: 1.5em;
}

header > div#nivel-insignia > div.nivel > p.numero-nivel {
    border: 2px solid #FF4A4A;
    border-radius: 50%;
    font-size: 1.2em;
    padding: 3px;
    margin-left: 5px;
}

header > div#nivel-insignia > div#insignia {
    display: flex;
    align-items: center;
    background-color: var(--bg-conteudo);
    color: var(--letras);
    border-radius: 3px;
}

header > div#nivel-insignia div#insignia > img {
    width: 70px;
}

header > div#nivel-insignia div#insignia > p {
    font-size: 0.8em;
    line-height: 1.3em;
    text-align: justify;
}

header > div#nivel-insignia > div#botoes {
    margin-top: 15px;
}

header > div#nivel-insignia > div#botoes > a.icone:after {
  content: '\25BE';
}

header > div#nivel-insignia > div#botoes > a {
    text-decoration: none;
    background-color: var(--bg-conteudo);
    color: var(--letras);
    font-size: .8em;
    padding: 7px 10px;
}

header > div#nivel-insignia > div#botoes > a:hover {
    background-color: var(--hover);
}

/* Configuração da div de nav + main */
#destaques {
    margin-top: 30px;

    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
    align-items: flex-end;

    grid-column: 1 / 3;
}
/* Configurações do Nav */
nav {
    background-color: var(--bg-conteudo);
    padding: 10px 0 30px 10px;
    border-radius: 3px;
    
}

nav > ul p.online {
    color: var(--online);
    font-size: 1.2em;
    padding-bottom: 20px;
}

nav > ul#menu-flex {
    list-style: none;

    display: flex;
    flex-flow: column nowrap;
}

nav > ul > li a.link {
    text-decoration: none;
    color: var(--letras); 
    font-size: .9em;
    
}

nav > ul > li a.link:hover {
    text-decoration: underline;
}

nav > ul > li p.numero {
    color: var(--letras-menores);
}

nav > ul > li {
    padding-bottom: 15px;
}

nav > ul > li > p.numero {
    display: inline;
    margin-left: 5px;
    font-size: 1.5em;
}

nav > ul > li > ul#imagem-insignias {
    margin-top: 10px;
    margin-bottom: 10px;

    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    justify-content: space-evenly;
}

/* Essa parte eu usei IA pois não estava conseguindo fazer os cards flutuantes com :hover nas insígnias */
.insignias-menu {
    position: relative;
    width: 70px;
    height: 70px;
    flex: 0 0 auto;
    cursor: pointer;
}

.insignias-menu img {
    width:80%;
    height: 80%;
    border-radius: 6px;
    display: block;
}

.insignias-menu p {
    position: absolute;
    bottom: 80px;
    width: 150%;
    background: #b7b7b7;
    color: #504f4f;
    font-size: 11px;
    text-align: center;
    padding: 6px;    
    display: none;
    border-radius: 3px;
}
 .insignias-menu:hover p {
    display: block;
} 

/* Configurações da lista de amigos no NAV */
nav > ul > li#amigos {
    margin-top: 18px;
}

nav > ul > li > ul#lista-amigos {
    list-style: none;
}

nav > ul > li > ul#lista-amigos > li > a.amigos {
    margin-top: 5px;
    margin-right: 10px;
    padding: 3px;
    text-decoration: none;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

nav > ul > li > ul#lista-amigos > li > a.amigos:hover {
    background-color: #4a4a4a8c;
}

nav > ul > li > ul#lista-amigos > li > a.amigos > img {
    width: 31px;
    height: 31px;
    border-width: 3px 3px 2px 2px;
    border-style: solid;
    border-color: #575656;
}

nav > ul > li > ul#lista-amigos > li > a.amigos > p.texto-amigos {
    margin-right: 5px;
    margin-left: 5px;
    font-size: .7em;
    color: var(--online);

    flex: 0 1 185px;
}

nav > ul > li > ul#lista-amigos > li > a.amigos > p#texto-amigos-offline {
    color: #b3b3b3 ;
}

nav > ul > li > ul#lista-amigos > li > a.amigos > p#texto-amigos-jogando {
    color: #8FB93B;
}

nav > ul > li > ul#lista-amigos >li > a.amigos > p.nivel-amigos {
    margin-top: 2px;
    padding: 3px;
    font-size: 1.1em;
    color: var(--letras);
    border-radius: 50%;
    width: 21px;
    height: 20px;
    text-align: center;
}

p#amigo-1, p#amigo-2 { border: 2px solid #1dba4a; }
p#amigo-3 { border: 2px solid #AD4092; }
p#amigo-4, p#amigo-5 { border: 2px solid #FF4A4A; }
p#amigo-6 { border: 2px solid #949494; }



/* Configurações do Main */
main {
    margin-right: 5px;
    border: 1px solid red;
    background-color: lightslategray;

    flex: 0 0 620px;

    display: flex;
    flex-flow: column wrap;
}

main section {
    background-color: var(--bg-conteudo);
    margin-bottom: 5px;
    border: 1px solid lightblue;
    border-radius: 3px;
}

main > section h3 {
    background-color: #0A0A0A;
    color: var(--letras);
    padding: 10px;
    font-weight: lighter;
}

main section p {
    border: 1px solid yellow;
    margin: 15px 7px 7px 7px;
    padding: 5px;
    background-color: #0C0C0D;
    color: var(--letras-menores);
    font-size: .8em;
    line-height: 1.4em;
}

/* Configurações de cada conteudo do Main */
main > section#caixa-arte img {
    max-width: 90%;
    height: auto;
    padding: 10px;
}

main > section#caixa-oficina > div#alinhamento-usuario-oficina {
    padding-left: 15px;
    margin-bottom: 30px;

    display: flex;
    flex-flow: row nowrap;
    
}

main > section#caixa-oficina > div#alinhamento-usuario-oficina p {
    font-size: 1.1em;
    color: var(--letras);
    background-color: var(--bg-conteudo);
}

main > section#caixa-oficina > div#alinhamento-usuario-oficina img#usuario-oficina {
    width: 31px;
    height: 31px;
    margin-top: 16px;
    border-width: 3px 3px 2px 2px;
    border-style: solid;
    border-color: #575656;
}

main > section#caixa-oficina > div#gif-oficina {
    padding: 8px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

main > section#caixa-oficina > div#gif-oficina img {
    margin-left: 3px;
   
}

main >section#caixa-oficina >div#informacoes-oficina {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 10px;
    margin-bottom: 5px;
}

main >section#caixa-oficina >div#informacoes-oficina p {
    background-color: var(--bg-conteudo);
    font-size: 1em;
    color: var(--letras-menores);
    margin-top: 0;
    padding-bottom: 0;
}

main >section#caixa-oficina >div#informacoes-oficina p.numero-oficina {
    font-size: 1.8em;
    color: var(--letras);
    margin-bottom: 0;
}