@charset 'UTF-8';

:root {
    --bg: #18191A;
    --bg-conteudo: #121213;
    --hover: #282828;
    --letras: #E7E7E7;
    --letras-menores: #888787;
    --online: #469DAB;
}

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

/* Plado de Fundo */
body {
    background-color: darkgray;
}

/* Fundo principal do perfil */
div#principal {
     background-color: lightgrey; 
     /* background-color: var(--bg);  */
    min-width: 300px;
    max-width: 950px;
    padding: 25px 10px 20px 10px;
    margin: auto;

    display: grid;
    grid-template-columns: auto auto;
    /* gap: 20px;  */
}

/* Configurações do Header */
header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    flex-flow: row wrap;

    grid-column: 1 / 3;
}

header > div#informacoes {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-right: 230px;
}

header > div#informacoes > div.img > img {
    width: 165px;
}

header > div#informacoes > div > p.icone {
    font-size: 1.5em;
}

header > div#informacoes > div > p.icone:after {
  content: '\25BE';
}

header > div#informacoes > div > p#bandeira {
    font-size: 0.8em;
    text-indent: 7px;
}

header > div#informacoes > div > p#bandeira:before {
    content: url(Imagens/flag.png);
    zoom: .6;
}


header > div#nivel-insignia > div.nivel {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 290px;
    border: 1px solid blue;
    margin-bottom: 15px;
}

header > div#nivel-insignia > div.nivel > p {
    font-size: 1.5em;
}

header > div#nivel-insignia > div.nivel > p.numero-nivel {
    border: 2px solid #FF4A4A;
    border-radius: 50%;
    font-size: 1.2em;
    padding: 3px;
    margin-left: 5px;
    
}

header > div#nivel-insignia > div#insignia {
    display: flex;
    align-items: center;
    background-color: var(--bg-conteudo);
    color: var(--letras);
    
}

header > div#nivel-insignia div#insignia > img {
    width: 70px;
}

header > div#nivel-insignia div#insignia > p {
    font-size: 0.8em;
    line-height: 1.3em;
    text-align: justify;
}

header > div#nivel-insignia > div#botoes {
    margin-top: 15px;
}

header > div#nivel-insignia > div#botoes > a.icone:after {
  content: '\25BE';
}

header > div#nivel-insignia > div#botoes > a {
    text-decoration: none;
    background-color: var(--bg-conteudo);
    color: var(--letras);
    font-size: .8em;
    padding: 7px 10px;
}

header > div#nivel-insignia > div#botoes > a:hover {
    background-color: var(--hover);
}

/* Configuração da div de nav + main */
#destaques {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
    margin-top: 30px;
    grid-column: 1 / 3;
}
/* Configurações do Nav */
nav {
    background-color: var(--bg-conteudo);
    padding: 10px 0 30px 10px;
}

nav > ul p.online {
    color: var(--online);
    font-size: 1.2em;
    padding-bottom: 20px;
}

nav > ul#menu-flex {
    display: flex;
    flex-flow: column nowrap;
    /* list-style: none; */
}

nav > ul > li a.link {
    text-decoration: none;
    color: var(--letras); 
    font-size: .9em;
}

nav > ul > li a.link:hover {
    text-decoration: underline;
}

nav > ul > li p.numero {
    color: var(--letras-menores);
}

nav > ul > li {
    padding-bottom: 12px;
}

nav > ul > li > a.link p.numero {
    display: inline;
}

nav > ul > li > p.numero {
    display: inline;
    font-size: 1.3em;
}

nav > ul > li > ul#imagem-insignias {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    justify-content: space-evenly;
    margin-top: 10px;
}

/* Essa parte eu usei IA pois não estava conseguindo fazer os cards flutuantes com :hover nas insígnias */
.insignias-menu {
    position: relative;
    width: 70px;
    height: 70px;
    flex: 0 0 auto;
    cursor: pointer;
}

.insignias-menu img {
    width:80%;
    height: 80%;
    border-radius: 6px;
    display: block;
}

.insignias-menu p {
    position: absolute;
    bottom: 80px;
    width: 150%;

    background: #b7b7b7;
    color: #504f4f;
    font-size: 11px;
    text-align: center;
    padding: 6px;
    
    display: none;
    border-radius: 3px;
}
 .insignias-menu:hover p {
    display: block;
} 



/* Configurações do Main */
main {
    flex: 1 0 625px;
    margin-right: 7px;
    border: 1px solid red;
    background-color: blue;
}