@charset 'UTF-8';

:root {
    --bg: #18191A;
    --bg-fundo: #0A0A0A;
    --bg-conteudo: #121213;
    --hover: #282828;
    --letras: #E7E7E7;
    --letras-menores: #a4a4a4;
    --online: #3ccce2;
}

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

/* Plado de Fundo */
body {
    background: #020024;
background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 47%, rgba(0, 212, 255, 1) 100%);
}

/* Fundo principal do perfil */
div#principal {
    background-color: var(--bg);
    min-width: 300px;
    max-width: 950px;
    padding: 25px 10px 20px 10px;
    margin: auto;

    display: grid;
    grid-template-columns: auto auto;
    /* gap: 20px;  */
}

/* Configurações do Header */
header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    flex-flow: row wrap;

    grid-column: 1 / 3;
}

header > div#informacoes {
    width: 400px;
    margin-right: 230px;

    display: flex;
    justify-content: space-between;
}

header > div#informacoes > div.img > img {
    width: 165px;
}

header > div#informacoes > div.usuario p {
    color: var(--letras);
}

header > div#informacoes > div.usuario > p.icone {
    font-size: 1.5em;
}

header > div#informacoes > div.usuario > p.icone:after {
  content: '\25BE';
}

header > div#informacoes > div.usuario > p#bandeira {
    font-size: 0.8em;
    text-indent: 7px;
}

header > div#informacoes > div.usuario > p#bandeira:before {
    content: url(Imagens/flag.png);
    zoom: .6;
}

header > div#informacoes > div > p.texto-descrição {
    padding-top: 20px;
    color: var(--letras);
}

header > div#nivel-insignia > div.nivel {
    width: 290px;
    margin-bottom: 15px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

header > div#nivel-insignia > div.nivel > p {
    font-size: 1.5em;
    color: var(--letras);
}

header > div#nivel-insignia > div.nivel > p.numero-nivel {
    border: 2px solid #FF4A4A;
    border-radius: 50%;
    font-size: 1.2em;
    padding: 3px;
    margin-left: 5px;
}

header > div#nivel-insignia > div#insignia {
    display: flex;
    align-items: center;
    background-color: var(--bg-conteudo);
    color: var(--letras);
    border-radius: 3px;
}

header > div#nivel-insignia div#insignia > img {
    width: 70px;
}

header > div#nivel-insignia div#insignia > p {
    font-size: 0.8em;
    line-height: 1.3em;
    text-align: justify;
}

header > div#nivel-insignia > div#botoes {
    margin-top: 15px;
}

header > div#nivel-insignia > div#botoes > a.icone:after {
  content: '\25BE';
}

header > div#nivel-insignia > div#botoes > a {
    text-decoration: none;
    background-color: var(--bg-conteudo);
    color: var(--letras);
    font-size: .8em;
    padding: 7px 10px;
}

header > div#nivel-insignia > div#botoes > a:hover {
    background-color: var(--hover);
}

/* Configuração da div de nav + main */
#destaques {
    margin-top: 30px;

    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
    align-items: flex-end;

    grid-column: 1 / 3;
}
/* Configurações do Nav */
nav {
    background-color: var(--bg-conteudo);
    padding: 10px 0 30px 10px;
    border-radius: 3px;
    
}

nav > ul p.online {
    color: var(--online);
    font-size: 1.2em;
    padding-bottom: 20px;
}

nav > ul#menu-flex {
    list-style: none;

    display: flex;
    flex-flow: column nowrap;
}

nav > ul > li a.link {
    text-decoration: none;
    color: var(--letras); 
    font-size: .9em;
    
}

nav > ul > li a.link:hover {
    text-decoration: underline;
}

nav > ul > li p.numero {
    color: var(--letras-menores);
}

nav > ul > li {
    padding-bottom: 15px;
}

nav > ul > li > p.numero {
    display: inline;
    margin-left: 5px;
    font-size: 1.5em;
}

nav > ul > li > ul#imagem-insignias {
    margin-top: 10px;
    margin-bottom: 10px;

    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    justify-content: space-evenly;
}

/* Essa parte eu usei IA pois não estava conseguindo fazer os cards flutuantes com :hover nas insígnias */
.insignias-menu {
    position: relative;
    width: 70px;
    height: 70px;
    flex: 0 0 auto;
    cursor: pointer;
}

.insignias-menu img {
    width:80%;
    height: 80%;
    border-radius: 6px;
    display: block;
}

.insignias-menu p {
    position: absolute;
    bottom: 80px;
    width: 150%;
    background: #b7b7b7;
    color: #504f4f;
    font-size: 11px;
    text-align: center;
    padding: 6px;    
    display: none;
    border-radius: 3px;
}
 .insignias-menu:hover p {
    display: block;
} 

/* Configurações da lista de amigos no NAV */
nav > ul > li#amigos {
    margin-top: 18px;
}

nav > ul > li > ul#lista-amigos {
    list-style: none;
}

nav > ul > li > ul#lista-amigos > li > a.amigos {
    margin-top: 5px;
    margin-right: 10px;
    padding: 3px;
    text-decoration: none;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

nav > ul > li > ul#lista-amigos > li > a.amigos:hover {
    background-color: #4a4a4a8c;
}

nav > ul > li > ul#lista-amigos > li > a.amigos > img {
    width: 31px;
    height: 31px;
    border-width: 3px 3px 2px 2px;
    border-style: solid;
    border-color: #575656;
}

nav > ul > li > ul#lista-amigos > li > a.amigos > p.texto-amigos {
    margin-right: 5px;
    margin-left: 5px;
    font-size: .7em;
    color: var(--online);

    flex: 0 1 185px;
}

nav > ul > li > ul#lista-amigos > li > a.amigos > p#texto-amigos-offline {
    color: #b3b3b3 ;
}

nav > ul > li > ul#lista-amigos > li > a.amigos > p#texto-amigos-jogando {
    color: #8FB93B;
}

nav > ul > li > ul#lista-amigos >li > a.amigos > p.nivel-amigos {
    margin-top: 2px;
    padding: 3px;
    font-size: 1.1em;
    color: var(--letras);
    border-radius: 50%;
    width: 21px;
    height: 20px;
    text-align: center;
}

p#amigo-1, p#amigo-2 { border: 2px solid #1dba4a; }
p#amigo-3 { border: 2px solid #AD4092; }
p#amigo-4, p#amigo-5 { border: 2px solid #FF4A4A; }
p#amigo-6 { border: 2px solid #949494; }



/* Configurações do Main */
main {
    margin-right: 5px;
    background-color: var(--bg-conteudo);

    flex: 0 0 620px;

    display: flex;
    flex-flow: column wrap;
}

main section {
    background-color: var(--bg-conteudo);
    margin-bottom: 5px;
    border-radius: 3px;
}

main > section h3 {
    background-color: #0A0A0A;
    color: var(--letras);
    padding: 10px;
    font-weight: lighter;
}

main section p {
    margin: 15px 7px 7px 7px;
    padding: 5px;
    background-color: var(--bg-fundo);
    color: var(--letras-menores);
    font-size: .8em;
    line-height: 1.4em;
}

/* Configurações de cada conteudo do Main */

/* Configuração da arte */
main > section#caixa-arte img {
    max-width: 90%;
    height: auto;
    padding: 10px;
}

/* Configuração da caixa de oficina e imagem */
main > section#caixa-oficina > div#alinhamento-usuario-oficina {
    padding-left: 15px;
    margin-bottom: 30px;

    display: flex;
    flex-flow: row nowrap;
    
}

main > section#caixa-oficina > div#alinhamento-usuario-oficina p {
    font-size: 1.1em;
    color: var(--letras);
    background-color: var(--bg-conteudo);
}

main > section#caixa-oficina > div#alinhamento-usuario-oficina img#usuario-oficina {
    width: 31px;
    height: 31px;
    margin-top: 16px;
    border-width: 3px 3px 2px 2px;
    border-style: solid;
    border-color: #575656;
}

main > section#caixa-oficina > div#gif-oficina {
    padding: 8px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

main > section#caixa-oficina > div#gif-oficina img {
    margin-left: 3px;
   
}

/* Configuração dos textos abaixo da caixa oficina e caixa conquista */
div.informacoes-oficina {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 10px;
    margin-bottom: 5px;
}

div.informacoes-oficina p {
    background-color: var(--bg-conteudo);
    font-size: 1em;
    color: var(--letras-menores);
    margin-top: 0;
    padding-bottom: 0;
}

div.informacoes-oficina p.numero-oficina {
    font-size: 2em;
    color: var(--letras);
    margin-bottom: 0;
}

/* Configuração da caixa de conquistas */
main > section#caixa-conquistas > div#conquistas {
    margin: 20px 10px 10px 10px;
    padding: 7px 7px 0 7px;
    background-color: var(--bg-fundo);
    border-radius: 3px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

main > section#caixa-conquistas > div#conquistas img {
    width: 290px;
}

main > section#caixa-conquistas > div#conquistas p {
    color: var(--letras);
    background-color: #1E69F4;
    padding: 5px 5px 5px 8px;
    margin: -3px 0 10px 0;
    line-height: 1.2em;
    font-weight: bold;
    position: relative;
    overflow: visible; 
}

main > section#caixa-conquistas > div#conquistas > div > p img {
    position: absolute;
    right: 0px;
    top: 40%;
    transform: translateY(-50%);
    width: 45px;
    height: auto;
}

/* Configuração da caixa de atividade */
main > section#caixa-atividades > div#separar-atividades {
    display: flex;
    flex-flow: column nowrap;
}

main > section#caixa-atividades > div#titulo-atividades {
    background-color: var(--bg-fundo);

    display: flex;
    justify-content: space-between;
}

main > section#caixa-atividades div#titulo-atividades {
    margin-bottom: 5px;
}

main > section#caixa-atividades > div#separar-atividades article.atividades {
    background-color: var(--bg-fundo);
    margin: 10px;
    padding: 10px;

    display: flex;
    flex-flow: column nowrap;
}

main > section#caixa-atividades > div#separar-atividades > article.atividades > div.quadro-atividades {
    

    display: flex;
    flex-flow: row nowrap;
}

main > section#caixa-atividades > div#separar-atividades > article.atividades > div.quadro-atividades p {
    flex:auto;
}

main > section#caixa-atividades > div#separar-atividades > article.atividades > div.quadro-atividades  p.titulo-atividades {
    font-size: .9em;
    color: var(--letras);
    font-weight: lighter;
    padding: 0;
}

main > section#caixa-atividades > div#separar-atividades > article.atividades > div.quadro-atividades  p.horas-atividades {
    font-size: .8em;
    padding: 0;
    margin: 0;
    text-align: right;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

main > section#caixa-atividades > div#separar-atividades > article.atividades > div.quadro-atividades img {
    width: 160px;
}

main > section#caixa-atividades > div#separar-atividades > article.atividades div.conquistas-atividades {
    background-color: var(--bg);
    margin-top: 10px;
    padding: 0;
    
    display: flex;
}

main > section#caixa-atividades > div#separar-atividades > article.atividades div.conquistas-atividades p {
    background-color: var(--bg);
}

main > section#caixa-atividades > div#separar-atividades > article.atividades div.conquistas-atividades p.conquista-p {
    color: var(--letras);
}

main > section#caixa-atividades > div#separar-atividades > article.atividades div.conquistas-atividades div.barra {
    width: 150px;
    height: 12px;
    border-radius: 50px;
    box-shadow: 1px 1px 1px rgba(193, 193, 193, 0.229);
    background-color: #0F0F0F;
    align-self: center;
}

main > section#caixa-atividades > div#separar-atividades > article.atividades div.conquistas-atividades div.barra-interna {
    width: 90px;
    height: 8px;
    border-radius: 50px;
    margin-top: .1em;
    margin-left: .2em;
    background: #0a0a0a;
    background: linear-gradient(0deg, rgba(10, 10, 10, 1) 23%, rgba(102, 102, 102, 1) 80%);
    align-self: center;
}

main > section#caixa-atividades > div#separar-atividades > article.atividades div.conquistas-atividades div.imagem-atividades {
    margin-left: 25px;

    display: flex;
}

main > section#caixa-atividades > div#separar-atividades > article.atividades div.conquistas-atividades > div.imagem-atividades img {
    margin: 5px 5px 0 0;
    width: 35px;
    height: 35px;
}

main > section#caixa-atividades > div#separar-atividades > article.atividades div.conquistas-atividades > div.imagem-atividades p {
    background-color: #222223;
    color: var(--letras);
    padding: 10px 0 0 8px;
    margin: 5px 5px 0 0;
    width: 25px;
    height: 25px;
}

main > section#caixa-atividades > p#final-atividades {
    text-align: end;
    background-color: var(--bg-conteudo);
    font-size: .8em;
    margin: 0 0 15px 0;
}

main > section#caixa-atividades > p#final-atividades a {
    text-decoration: none;
    color: var(--letras);
}

main > section#caixa-atividades > p#final-atividades a:hover {
    color: var(--online);
}

/* Configurações dos comentários */
main >section#caixa-comentarios > ul {
    list-style: none;
}

main >section#caixa-comentarios > ul > li img {
    width: 30px;
    height: 30px;
}

main >section#caixa-comentarios a {
    text-decoration: none;
    color: var(--letras);
    font-size: .7em;
    margin: 10px;
}

main >section#caixa-comentarios a:hover {
    text-decoration: underline;
}


main >section#caixa-comentarios > ul > li > div.usuario-comentario {
    margin: 20px 0 10px 10px;

    display: flex;
}

main >section#caixa-comentarios > ul > li > div.usuario-comentario div.div-comentario {
    margin-left: 10px;

    display: flex;
    flex-flow: column nowrap;
}

main >section#caixa-comentarios > ul > li > div.usuario-comentario div.div-comentario p {
    font-size: .7em;
    margin: 0;
    padding: 0;
    color: var(--letras);
    background-color: var(--bg-conteudo);
}

main >section#caixa-comentarios > ul > li > div.usuario-comentario > div.data-comentario p{
    font-size: .7em;
    margin: 0;
    padding: 0;
    background-color: var(--bg-conteudo);
}

form {
    margin: 10px 10px 30px 10px;

    display: flex;
}

form > img {
    width:30px;
    height: 30px;
    margin-right: 5px;
}

input {
    width: 94%;
    height: 27px;
    background-color: var(--hover);
}

input::placeholder {
    font-size: .7em;
    color: var(--letras-menores);
}

/* Config do footer */
footer {
    text-align: center;
    color: var(--letras);
    background-color: var(--bg-fundo);
}